@import "media";
@import "variables";


.row {
    display: flex;
    // flex-wrap: wrap;
    // margin-left: -$gutter/2;
    // margin-right: -$gutter/2;    

    // 1 to 12 -> 1.....11
    // 1 through 12 -> 1.....12
    @for $i from 1 through $cols {
        .col-#{$i} {
            // * $i -> số cột nó chiếm
            width: (100% / $cols) * $i;
        }
    }
    @for $i from 1 through $cols {
        @include xs {
            .col-xs-#{$i} {
                // * $i -> số cột nó chiếm
                width: (100% / $cols) * $i;
                padding: 0 $gutter / 2;  
                .col-item {
                }      
            }
        }
    }
    @for $i from 1 through $cols {
        @include sm {
            .col-sm-#{$i} {
                // * $i -> số cột nó chiếm
                width: (100% / $cols) * $i;
                padding: 0 $gutter / 2;  
                .col-item {
                }      
            }
        }
    }
    @for $i from 1 through $cols {
        @include md {
            .col-md-#{$i} {
                // * $i -> số cột nó chiếm
                width: (100% / $cols) * $i;
                padding: 0 $gutter / 2; 
                .col-item {
                    // padding: 5px;
                }      
            }
        }

    }
    @for $i from 1 through $cols {
        @include lg {
            .col-lg-#{$i} {
                // * $i -> số cột nó chiếm
                width: (100% / $cols) * $i;
                padding: 0 $gutter / 2;  
                .col-item {
                    // padding: 5px;
                }      
            }
        }
    }
    @for $i from 1 through $cols {
        @include xl {
            .col-xl-#{$i} {
                // * $i -> số cột nó chiếm
                width: (100% / $cols) * $i;
                padding: 0 $gutter / 2;  
                .col-item {
                    // padding: 5px;
                }      
            }
        }
    }
}