$cols: 12;
$gutter: 40px;
$darkColor: #1b2a4e;
$navTextColor: #506690;
$whiteColor: #fff;
$overlayColor: rgba(51,94,234,.8);
$blueText: #335eea;
$bodyBlackColor: #161c2d;
$slightBlueTextColor: #869ab8;
$blueBtnHoverColor: #2b50c7;
$gray200: #f1f4f8;
$borderBottom: 1px solid $gray200;
$pearlBlueColor: #42ba96;
$gray300: #d9e2ef;
$switchWidth: 40px;
$switchHeight: 22px;