.container {
    max-width: 1200px;
    margin: 0 auto;
}
.group-filter {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

}
.dataTables_filter {
    input {
        border: 1px solid #ccc;
        padding: 5px;
    }
}
.table-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
table, td, th {
    border: 1px solid black;
    padding: 8px 10px;
}
th {
    cursor: pointer;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
}

.pagenumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.group-btn {
    display: flex;
    
}

button {
    width: 20px;
    height: 20px;

    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #44AAEE;

    margin: 5px;
    transition: 0.4s;

    color: #FFF;
    font-size: 18px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: #44EEAA;
    }
    &.active {
        background-color: #44EEAA;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
}