@import "variables";
@import "media";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1,
h2,
h4,
h3,
p {
    font-weight: 300;
}
.order-1 {
    order: 1 !important;
}
.order-2 {
    order: 2 !important;
}
.shadow {
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .05) !important;
}

.position-relative {
    position: relative !important;
}
.text-dark {
    color: $darkColor !important;
}
.gray-200 {
    color: $gray200  !important;
}

.fs-17 {
    font-size: 17px !important;
}

.insta-color {
    color: #3F5D87 !important;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-8 {
    margin-bottom: 0.8rem !important;
}
.mb-40 {
    margin-bottom: 4rem !important;
}

.mb-80 {
    margin-bottom: 8rem !important;
}
.mb-96 {
    margin-bottom: 9.6rem !important;
}
.mb-16 {
    margin-bottom: 1.6rem !important;
}
.mb-12 {
    margin-bottom: 1.2rem !important;
}
.p-0 {
    padding: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pt-128 {
    padding-top: 12.8rem !important;
}
.pt-160 {
    padding-top: 16rem !important;
}
.pt-256 {
    padding-top: 25.6rem !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.mt-minus-16 {
    margin-top: -1.6rem !important;
}
.ml-minus-20 {
    margin-left: -2rem;
}
.mt-minus-256 {
    margin-top: -25.6rem;
}
.mt-8 {
    margin-top: 0.8rem !important;
}
.mt-32 {
    margin-top: 3.2rem !important;
}

.mb-24 {
    margin-bottom: 2.4rem !important;
}

.mb-4 {
    margin-bottom: 0.4rem !important;
}
.mb-48 {
    margin-bottom: 4.8rem !important;
}
.ml-24 {
    margin-left: 2.4rem !important;
}

.ml-40 {
    margin-left: 4rem !important;
}

.ml-60 {
    margin-left: 6rem !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.t-upper {
    text-transform: uppercase !important;
}

.padding-64-40 {
    padding: 6.4rem 4rem !important;
}

.padding-38-40 {
    padding: 3.8rem 4rem !important;
}
.padding-48-32 {
    padding: 4.8rem 3.2rem !important;
}
.width-660 {
    width: 66rem !important;
}

.mw-350 {
    min-width: 35rem !important;
}

.mw-56 {
    min-width: 56rem !important;
}

.pt-96 {
    padding-top: 9.6rem !important;
}

.py-96 {
    padding: 9.6rem 0 !important;
}

.px-20 {
    padding: 0 2rem !important;
}

.py-48 {
    padding: 4.8rem 0 !important;
}

.d-flex {
    display: flex;
}

.p-unset {
    padding: unset !important;
}
.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.mw-130percent {
    max-width: 130% !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}
.mr-12 {
    margin-right: 1.2rem !important;
}
.mr-4 {
    margin-right: 0.4rem;
}

.lh-125 {
    line-height: 1.25;
}

.text-color-blue {
    color: $blueText  !important;
}

.text-center {
    text-align: center !important;
}

.text-start {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}
.text-color-white {
    color: $whiteColor;
}
.text-gray-200 {
    color: $gray200 !important;
}
.text-nav-color {
    color: $navTextColor !important;
}
.align-self-end {
    align-self: flex-end !important;
}
.h2 {
    font-size: 30px;
    line-height: 1.35;
    font-weight: 300;
}
.display-2 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 61px;
    letter-spacing: -1.22px;
}
.background-dark-color {
    background-color: $darkColor !important;
}
.btn-primary {
    background-color: $blueText;
    color: $whiteColor;
}
.btn-light-gray {
    background-color: $gray300;
    color: $navTextColor;
}

.btn-success {
    background-color: $pearlBlueColor;
    color: $whiteColor;

    &:hover {
        background-color: #389e80;
        
    }
}

.btn {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.9rem 1.6rem;
    font-size: 16px;
    border-radius: 0.6rem;
    transition: box-shadow .25s ease, transform .25s ease;

    &:hover {
        border-color: transparent;
        box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
        transform: translate3d(0, -3px, 0);
    }

}
.icon-check {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(66, 186, 150, .1);
    color: #42ba96;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    margin-top: 0.4rem;
    margin-right: 1.6rem;
}
.show-navbar {
    display: flex !important;
}

.show {
    display: block !important;
    visibility: visible !important;
}

.icon-rotate {
    transform: rotate(180deg);
}

@mixin navResponsive(){
    nav {
        position: relative;

    }
    .btn-menu {
        .toggle-button {
            display: block;
        }
    }

    .nav-with-button {
        z-index: 10;
        align-items: unset;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: auto;
        top: 10px;
        left: 10px;
        box-shadow: rgba(22, 28, 45, 0.15) 0px 24px 64px 0px;
        background-color: #fff;

        & .toggle-close-btn {
            position: absolute;
            right: 1rem;
            top: 2.4rem;
            font-weight: 300;
        }
        .navigation {
            flex-direction: column;
            margin: 0;

            .dropdown {
                all: unset;
                padding: 2.4rem;
                border-bottom: $borderBottom;
                & a {
                    padding: 0;
                    display: block;
                    margin-bottom: 2.4rem;
                }
                .padding-38-40 {
                    padding: 0 !important;
                }
                .mb-md-24 {
                    margin-bottom: 2.4rem !important;
                }
                .ml-md-60 {
                    margin-left: 6rem !important;
                }
                .ml-md-0 {
                    margin-left: 0 !important;
                }
                .dropdown-content {
                    visibility: visible;
                    all: unset;
                    .d-block-md {
                        display: block;
                    }
                    .dropdown-img {
                        display: none;
                    }
                    .dropdown-content-right {
                        padding: inherit;
                        .row {
                            margin: 0;

                            & .col-md-6 {
                                padding: 0;
                                padding: 0 1.9rem;

                                .dropdown-item-header {
                                    margin: 0;
                                    padding: 0;
                                    padding-bottom: 0.8rem;
                                }

                                .dropdown-item {
                                    margin: 0;
                                    padding: 0;

                                    &+.dropdown-item {
                                        margin-top: 0.7rem;
                                    }
                                }
                            }

                            .ml-40 {
                                margin-left: 0;
                            }
                        }
                    }
                    .list-group {
                        all: unset;
                        .list-item-content {
                            cursor: pointer;
                        }
                    }
                }
                .subnav {
                    & .dropdown-item {
                        &:hover {
                            .subnav-item {
                                display: none;
                                visibility: visible;
                            }
                        }

                        & a {
                            font-weight: 300;
                            margin: 0;

                            .fa-angle-right {
                                display: none;
                            }

                            .fa-angle-down {
                                display: block;
                                font-size: 11px;
                            }
                        }

                        .subnav-item {
                            left: 0;
                            position: unset;
                            box-shadow: unset;
                            padding: 1.6rem 0 1.6rem 0.8rem;
                        }
                    }
                }
            }
        }
        .btn-buy-now {
            margin-left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
@mixin classForResponsiveXsAndSm(){
    .container {
        max-width: 540px;
    }
    .pt-sm-16 {
        padding-top: 1.6rem !important;
    }
    .mb-sm-32 {
        margin-bottom: 3.2rem !important;
    }
    .mb-sm-16 {
        margin-bottom: 1.6rem !important;
    }
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
    .ml-sm-minus-20 {
        margin-left: -2rem !important;
    }
    .ml-sm-0 {
        margin-left: 0 !important;
    }
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .p-sm-32 {
        padding: 3.2rem !important;
    }
    .py-sm-48 {
        padding: 4.8rem 0 !important;
    }
    .mb-sm-24 {
        margin-bottom: 2.4rem !important;
    }
    .mb-sm-48 {
        margin-bottom: 4.8rem !important;
    }
    .pt-sm-xs-80 {
        padding-top: 8rem !important;
    }
}
// Responsive
@include lg {
    .container {
        max-width: 960px;
    }
}
@include md {
    .container {
        max-width: 720px;
    }
}
@include sm{
    @include classForResponsiveXsAndSm();
}
@include xs{
    @include classForResponsiveXsAndSm();
}

nav {
    padding: 1.95rem 0;
    line-height: 1.6;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;

        .logo {
            padding: 0.24rem 0;

            & img {
                max-height: 2.4rem;
            }
        }

        @include xs {
            @include navResponsive();
        }

        @include sm {
            @include navResponsive();
        }

        @include md {
            @include navResponsive();
        }

        @include lg {
            .btn-menu {
                .toggle-button {
                    display: none;
                }

            }

            .toggle-close-btn {
                display: none !important;
            }

        }

        .btn-menu {
            margin-left: auto;

            .toggle-button {
                padding: 0.4rem 1.2rem;
                font-size: 22px;
                color: $navTextColor;
                font-weight: 300;
                cursor: pointer;
            }
        }

        .nav-with-button {
            display: flex;

            .toggle-close-btn {
                padding: 0.4rem 1.2rem;
                color: $navTextColor;
                font-size: 19px;
                display: none;
                cursor: pointer;
                display: none;
            }

            @include xs {
                display: none;
            }

            @include sm {
                display: none;
            }

            @include md {
                display: none;
            }

            @include lg {
                display: flex;
            }
        }

        .navigation {
            display: flex;
            font-size: 16px;
            margin-left: auto;

            .dropdown {
                position: relative;

                &:hover {
                    color: $blueText;

                    .dropdown-content {
                        visibility: visible;
                        transform: translate(-50%, 5px);
                    }
                }

                &>a {
                    padding: 0.8rem 2.4rem;
                    color: $navTextColor;
                }

                .dropdown-content {
                    visibility: hidden;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 15px);
                    transition: transform .2s ease-in-out;
                    min-width: 67.2rem;
                    border-radius: 0.6rem;
                    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
                    background-color: $whiteColor;
                    z-index: 1;
                    .dropdown-img {
                        background: url("/dist/img/photo-3.jpg") no-repeat 50%/cover;
                        color: $whiteColor;
                        font-weight: 400;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        padding: 3.8rem 4rem;
                        border-top-left-radius: 0.6rem;
                        border-bottom-left-radius: 0.6rem;

                        &>h4 {
                            font-weight: 500;
                            z-index: 1;
                            font-size: 19px;
                        }

                        p {
                            z-index: 1;
                            margin-bottom: 1.6rem;
                            font-size: 15px;
                        }

                        a {
                            z-index: 1;
                            font-size: 17px;
                            background-color: $whiteColor;
                            color: $blueText;
                            width: auto;
                        }

                        &::before {
                            content: "";
                            background-color: $overlayColor;
                            bottom: 0;
                            top: 0;
                            left: 0;
                            right: 0;
                            position: absolute;
                            border-radius: inherit;
                        }
                    }

                    .dropdown-item-header {
                        font-size: 12px;
                        color: $blueText;
                        padding: 0 4rem 0.8rem;
                        margin: 0 -4rem;
                        font-weight: 400;
                        text-transform: uppercase;
                    }

                    .dropdown-item {
                        font-size: 15px;
                        color: $navTextColor;
                        padding: 0 2.8rem;
                        margin: 0 -2.8rem;
                        display: block;
                        white-space: nowrap;
                        min-width: 100%;
                        font-weight: 300;

                        &+.dropdown-item {
                            margin-top: 0.7rem;
                        }

                        &>span {
                            text-transform: uppercase;
                            color: $blueText;
                            font-size: 12px;
                        }

                        &:hover {
                            color: $blueText;
                        }
                    }

                    .dropdown-content-right {
                        padding: 3.8rem 4rem;
                    }

                    .list-group {
                        padding: 2.6rem 2.8rem;
                        box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
                        border-radius: 0.6rem;
                        cursor: pointer;
                        background-color: $whiteColor;

                        .list-item {
                            display: flex;
                            align-items: center;
                            background-color: $whiteColor;

                            .list-item-content {
                                margin-left: 1.6rem;

                                & h6 {
                                    font-size: 12px;
                                    color: $blueText;
                                    font-weight: 400;
                                }

                                & p {
                                    font-size: 15px;
                                    color: $navTextColor;
                                    font-weight: 400;
                                }
                            }

                            .version {
                                background-color: rgba(51, 94, 234, 0.1);
                                border-radius: 5rem;
                                color: $blueText;
                                font-size: 11px;
                                padding: 0.4rem 1.2rem;
                                margin-left: auto;
                            }

                            &:not(:last-child) {
                                padding: 1.6rem 0;
                                border-bottom: 1px solid #f1f4f8;

                            }

                            &:first-child {
                                padding-top: 0;
                            }

                            &:last-child {
                                padding-top: 1.6rem;
                            }

                        }
                    }
                }

                .subnav {
                    padding: 2.6rem 2.8rem;
                    min-width: 22.5rem;
                    visibility: hidden;

                    ul {
                        li {
                            position: relative;

                            a {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 15px;
                                color: $navTextColor;
                                font-weight: 400;
                                line-height: 1.6;

                                & .fa-angle-down {
                                    display: none;
                                }
                            }

                            &:hover {
                                &>a {
                                    color: $blueText;
                                }

                                .subnav-item {
                                    display: block;
                                    visibility: visible;
                                }
                            }
                        }

                        .subnav-item {
                            position: absolute;
                            left: 100%;
                            top: -2.6rem;
                            box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
                            padding: 2.6rem 2.8rem;
                            border-radius: 0.6rem;
                            display: none;
                            visibility: hidden;
                            background-color: $whiteColor;

                            a {
                                font-size: 15px;
                                color: $navTextColor;
                                font-weight: 400;
                                line-height: 1.6;
                            }
                        }
                    }
                }

            }
        }

        .btn-buy-now {
            font-weight: 400 !important;
            margin-left: 16.8rem;
            transition: box-shadow .25s ease, transform .25s ease;

            &:hover {
                background-color: #2b50c7;
                border-color: transparent;
                box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
                transform: translate3d(0, -3px, 0);
            }

        }
    }
}

.s-welcome {
    @include sm {
        .row {
            flex-direction: column;
            width: 100%;
        }
        .welcome-header {
            text-align: center;
            font-size: 36px !important;
        }
        img {
            text-align: center;
            margin-bottom: 3.2rem;
        }
        .welcome-description {
            font-size: 19px !important;
            text-align: center;
        }
        .btn-group {
            text-align: center;
            & i {
                display: none;
            }
        }
    }
    @include xs {
        .row {
            flex-direction: column;
            width: 100%;
        }
        .welcome-header {
            text-align: center;
            font-size: 36px !important;
        }
        img {
            text-align: center;
            margin-bottom: 3.2rem;
        }
        .welcome-description {
            font-size: 19px !important;
            text-align: center;
        }
        .btn-group {
            text-align: center;
            & i {
                display: none;
            }
        }
    }
    & img {
        transition-delay: .1s;
    }
    .welcome-header {
        font-weight: 300;
        font-size: 48px;
        margin-bottom: 16px;
        cursor: default;
        letter-spacing: -.02em;
        color: $bodyBlackColor;
        @include md {
            font-size: 36px;
        }
    }

    .welcome-description {
        margin-bottom: 4.8rem;
        font-size: 21px;
        color: $slightBlueTextColor;
        font-weight: 300;
        line-height: 1.6;
        word-wrap: break-word;
        @include md {
            font-size: 19px;
        }
    }

    .btn-group {
        & a {
            padding: 1.4rem 2rem;
            font-size: 17px;
            line-height: 1.6;
            text-align: center;
        }

        &>a {
            &>i {
                margin-left: 1.2rem;
            }

            &:hover {
                color: $whiteColor;
                background-color: $blueBtnHoverColor;
            }
        }

        .btn-document {
            background-color: rgba(51, 94, 234, .1);
            color: $blueText;
            transition: box-shadow .25s ease, transform .25s ease;

            &:hover {
                color: $blueText;
                background-color: rgba(51, 94, 234, .15);
            }
        }
    }
}

.s-features {
    font-size: 17px;
    border-bottom: $borderBottom;
    & .icon {
        margin-bottom: 1.2rem;
    }

    & h3 {
        margin-bottom: 0.8rem;
        font-weight: 300;
        @include md {
            font-size: 18px;
        }
        @include sm {
            font-size: 18px;
        }
        @include xs {
            font-size: 18px;
        }
    }

    & p {
        color: $slightBlueTextColor;
        line-height: 1.6;
        font-weight: 300;
        @include md {
            font-size: 17px;
        }
        @include sm {
            font-size: 17px;
        }
        @include xs {
            font-size: 18px;
        }
    }
    @include sm {
        .row {
            flex-direction: column;
        }
    }
    @include xs {
        .row {
            flex-direction: column;
        }
    }
}

.s-brands {
    border-bottom: $borderBottom;

    .svg-brands {
        color: $slightBlueTextColor;

        svg {
            height: inherit;
            width: inherit;
        }
    }
    @include sm {
        .row {
            flex-wrap: wrap;
        }
    }
    @include xs {
        .row {
            flex-wrap: wrap;
        }
    }
}
.shape-slider {

    overflow: hidden;
    & svg {
        width: auto;
        height: 100%;
        position: absolute;
        right: -6%;
        color: $whiteColor;
        transform: scale(2);
        
        
    }
    @include sm {
        display: none;
    }
    @include xs {
        display: none;
    }
}
.s-about {
    background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
    .download-card {
        box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .05);
        background-color: $whiteColor;
        position: relative;
        max-width: 40rem;
        transition: box-shadow .25s ease, transform .25s ease;

        &:hover {
            border-color: transparent;
            box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
            transform: translate3d(0, -3px, 0);
        }

        & img {
            min-height: 1px;
            border-top-left-radius: 0.6rem;
            border-top-right-radius: 0.6rem;
        }

        .form-input {
            padding: 3.2rem;
            border-bottom-left-radius: 0.6rem;
            border-bottom-right-radius: 0.6rem;

            .input-form {
                width: 100%;
                height: 60px;
                padding: 1.6rem 0;
                position: relative;
                font-size: 17px;

                & input:focus+.label-name .content-name,
                & input:valid+.label-name .content-name {
                    transform: translateY(-20px);
                    font-size: 11px;
                    color: $slightBlueTextColor;
                }

                & input:focus+.label-name::after {
                    opacity: 1;
                }

                & input {
                    width: 100%;
                    height: 100%;
                    color: #161c2d;
                    font-size: 17px;
                }

                & label {
                    color: $slightBlueTextColor;
                    position: absolute;
                    bottom: 0;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    border-bottom: $borderBottom;
                    transition: transform .1s ease-in-out;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        border-bottom: 1px solid $blueText;
                        opacity: 0;
                    }

                    .content-name {
                        position: absolute;
                        bottom: 20px;
                        left: 0px;
                        transition: all 0.1s ease-in-out;
                    }
                }
                & small {
                    position: absolute;
                    left: 0;
                    bottom: 3px;
                    color: #e74c3c;
                    visibility: hidden;
                }
                
                &.error small {
                    visibility: visible;
                }
            }

            .btn-form {
                button {
                    width: 100%;
                    padding: 1.4rem 2rem;
                    font-size: 17px;
                }
            }
        }
    }

    h4 {
        font-size: 19px;
        color: $bodyBlackColor;
        @include sm {
            font-size: 17px;   
        }
        @include xs {
            font-size: 17px;   
        }
    }

    h2 {
        line-height: 1.35;
        letter-spacing: -.01em;
        font-weight: 300;
        color: $bodyBlackColor;
        font-size: 28px;
        margin-bottom: 2.2rem;

        @include md {
            font-size: 24px;
        }
        @include sm {
            font-size: 24px;
        }
        @include xs {
            font-size: 24px;
        }

        &>span {
            color: $pearlBlueColor;

            .cursor {
                display: inline-block;
                width: 2px;
                background-color: $pearlBlueColor;
                animation: blink 1s infinite;
            }

            & .typing {
                animation: none;
            }

            @keyframes blink {
                0% {
                    background-color: $pearlBlueColor;
                }

                49% {
                    background-color: $pearlBlueColor;
                }

                50% {
                    background-color: transparent;
                }

                99% {
                    background-color: transparent;
                }

                100% {
                    background-color: $pearlBlueColor;
                }
            }
        }
    }

    & p {
        margin-bottom: 1.6rem;
        color: $slightBlueTextColor;
        margin-bottom: 3.2rem;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.6;
    }
    @include md {
        .md-flex-col {
            flex-direction: column !important;
        }
        .ml-minus-20 {
            margin: unset;
        }
        .ml-40 {
            margin: unset !important;
        }
        .mb-md-96{
            margin-bottom: 9.6rem !important;
        }
        .mb-md-0 {
            margin-bottom: 0 !important;
        }
        .group-content-check {
            & p {
                font-size: 17px;
            }
        }
    }
    @include sm {
        .row {
            flex-direction: column;
        }
        .download-card {
            max-width: unset;
        }
    }
    @include xs {
        .row {
            flex-direction: column;
        }
        .download-card {
            max-width: unset;
        }
    }
    .group-content-check {
        display: flex;
        & p {
            color: $pearlBlueColor;
            line-height: 1.6;
            margin-bottom: 1.6rem;
        }
    }

    .shape {
        position: absolute;
        bottom: 0;
        left: 79%;
        transform: translateX(-60%) scale(1.3);
        width: 100%;
        @include sm {
            bottom: -5%;
            left: 9%;
            transform: scale(1.2);
        }
        @include xs {
            bottom: -5%;
            left: 9%;
            transform: scale(1.2);
        }
        & svg {
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }

    }

    .img-dashkit {
        min-width: 65rem;
        perspective: 1500px;
        transform-style: preserve-3d;
        @include md {
            min-width: 40rem;
        }
        @include sm {
            min-width: 51rem;
        }
        @include xs {
            min-width: 51rem;
        }
        img {
            max-width: 100%;
            transform: rotateY(-35deg) rotateX(15deg);
        }
    }
}

.s-testimonials {
    margin-bottom: 100px;
    @include sm {
        margin-bottom: 0;
        h2 {
            font-size: 24px !important;
        }
        p {
            text-align: center !important;
        }
    }
    @include xs {
        margin-bottom: 0;
        h2 {
            font-size: 24px !important;
        }
        p {
            text-align: center !important;
        }
    }
    & h2 {
        font-size: 32px;
        margin-bottom: 1.6rem;
        color: $bodyBlackColor;
        @include md {
            font-size: 2.4rem;
        }
    }

    & p {
        font-size: 19px;
        color: $slightBlueTextColor;
        margin-bottom: 6.4rem;
        line-height: 30.4px;

    }

    .slider-img {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .card-img {
            height: inherit;
            width: inherit;
            background-image: url("/dist/img/photo-1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 0.6rem 0 0 0.6rem;
            display: block;
        }
        @include sm {
            height: 430px;
            .card-img {
                border-radius: 0.6rem 0.6rem 0 0;
            }
        }
        @include xs {
            height: 430px;
            .card-img {
                border-radius: 0.6rem 0.6rem 0 0;
            }
        }

    }

    .slider-content { 
        cursor: grab;
        & blockquote {
            .logo-slider {
                & svg {
                    height: 60px;
                    width: 150px;
                    color: #FF5A5F;
                    @include sm {
                        width: 129px;
                        height: 43px;
                    }
                    @include xs {
                        width: 129px;
                        height: 43px;
                    }
                }

                p {
                    color: $bodyBlackColor;

                }
            }

            & .blockquote-footer {
                background-color: $whiteColor;
                color: $slightBlueTextColor;
                font-size: 12px;
                text-align: center;
            }
        }

        .blockquote-1 {
            display: none;
        }
    }

    .card {
        position: relative;
        z-index: 2;
        background-color: $whiteColor;
        @include sm {
            .row {
                flex-wrap: wrap;
            }
        }
        @include xs {
            .row {
                flex-wrap: wrap;
            }
        }
        .btn-slider-left {
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translate(50%, -50%);
            @include sm {
                top: 85%;
                transform: translate(50%, -85%);
            }
            @include xs {
                top: 85%;
                transform: translate(50%, -85%);
            }
        }

        .btn-slider-right {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
            @include sm {
                top: 85%;
                transform: translate(-50%, -85%);
            }
            @include xs {
                top: 85%;
                transform: translate(-50%, -85%);
            }
        }
    }

    .btn-slider {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: $blueText;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &>i {
            color: $whiteColor;
            font-size: 16px;
        }
        @include sm {
            width: 60px;
            height: 60px;
        }
        @include xs {
            width: 60px;
            height: 60px;
        }
    }

}
.body-shape {
    position: absolute;
    transform: scale(4.6);
    left: 50%;
    color: $gray200;
    & > svg {
        width: 100%;
        height: auto;
        transform: scale(7.2);

    }
}

.s-stats {
    background-color: $gray200;
    position: relative;
    z-index: 2;
    @include sm {
        .order-2 {
            order: unset !important;
        }
        .row {
            flex-direction: column;
        }
        h2 {
            font-size: 24px !important;
        }
    }
    @include xs {
        .order-2 {
            order: unset !important;
        }
        .row {
            flex-direction: column;
        }
        h2 {
            font-size: 24px !important;
        }
    }
    h3 {
        line-height: 1.4;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 1.6rem;
        color: $bodyBlackColor;
        line-height: 1.35;
        @include md {
            font-size: 24px;
        }
    }
    .p-body {
        font-size: 19px;
        color: $navTextColor;
        margin-bottom: 3.2rem;
        line-height: 30.4px;
    }
    .satisfaction {
        padding-right: 2.4rem;
        & > h3 {
            font-size: 21px;
            color: $bodyBlackColor;
            @include md {
                font-size: 18px;
            }
            @include sm {
                font-size: 18px;
            }
            @include xs {
                font-size: 18px;
            }

        }
        & > p {
            font-size: 17px;
            color: $navTextColor;
        }
    }
    .support {
        padding: 0 2.4rem;
        & > h3 {
            font-size: 21px;
            color: $bodyBlackColor;
            @include md {
                font-size: 18px;
            }
            @include sm {
                font-size: 18px;
            }
            @include xs {
                font-size: 18px;
            }
        }
        & > p {
            color: $navTextColor;
            font-size: 17px;
        }
    }
    .sales {
        padding-left: 2.4rem;
        & > h3 {
            font-size: 21px;
            color: $bodyBlackColor;
            @include md {
                font-size: 18px;
            }
            @include sm {
                font-size: 18px;
            }
            @include xs {
                font-size: 18px;
            }
        }
        & > p {
            font-size: 17px;
            color: $navTextColor;
        }
    }
}

.badge {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 0.4rem 1.2rem;
    text-align: center;
    vertical-align: baseline;
    color: $blueText;
    background-color: rgba(51,94,234,.1);
    border-radius: 80rem;
}
.text-slight-blue {
    color: $slightBlueTextColor !important;
}
.fz-17 {
    font-size: 17px !important;
}
.shadow-lg {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1)!important;
}

.s-pricing {
    position: relative;
    z-index: 1;
    background-color: $gray200;
    & h1 {
        font-size: 30px;
        margin-bottom: 1.6rem;
        line-height: 1.3;
        letter-spacing: -0.37px;   
        color: $bodyBlackColor;
    }
    & p {
        color: $navTextColor;
        margin-bottom: 1.6rem;
        font-size: 21px;
        font-weight: 300;
        line-height: 33.6px;
        @include md {
            font-size: 19px;
        }
        @include sm {
            font-size: 19px;
        }
        @include xs {
            font-size: 19px;
        }
    }
    & form {
        margin-bottom: 6.4rem;
        & .check-form {
            margin: 0 1.9rem;
            padding-left: 1.8rem;
            display: inline-block;
            position: relative;
            label {
                position: relative;
                left: -33px;
                &::after {
                    content: '';
                    width: 19px;
                    height: 19px;
                    background-color: white;
                    position: absolute;
                    bottom: -5px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 5px -1px rgba($color: #333, $alpha: 0.7);
                    transition: 0.5s;
                }
                &::before {
                    content: '';
                    width: $switchWidth;
                    height: $switchHeight;
                    background-color: #d9e2ef;
                    position: absolute;
                    border-radius: 50px;
                    transition: 0.5s;
                }
            }
            input {
                visibility: visible;
            }
            input:checked ~ label::after {
                transform: translateX($switchWidth - $switchHeight);
            }
            input:checked ~ label::before {
                background-color: $blueText;
            }
        }
        & span {
            color: $slightBlueTextColor;
            font-size: 17px;
        }
        
    }


}
.s-pricing-2 {
    background-color: $gray200;
    position: relative;  
    & h1 {
        font-size: 30px;
        margin-bottom: 1.6rem;
        line-height: 1.3;
        letter-spacing: -0.37px;   
        color: $bodyBlackColor;
    }
    & p {
        margin-bottom: 1.6rem;
        font-size: 21px;
        font-weight: 300;
        line-height: 33.6px;
    }
    & .card-under{
        z-index: 0 !important;
        right: 1.2rem;
    }
    & .card {
        background-color: $whiteColor;
        border: 0 solid #f1f4f8;
        border-radius: 0.6rem;
        position: relative;
        z-index: 1;
        .card-body {
            & .text-slight-blue {
                font-size: 21px;
                @include md {
                    font-size: 19px;
                }
            } 
            & p {
                font-size: 17px;
                color: $bodyBlackColor;
              
            }
        }
        & a {
            display: block;
            width: 100%;
            padding: 1.8rem 2.4rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            font-size: 17px;
            &:hover {
                transform: none;
                box-shadow: none !important;
            }
        }
    }
    & .col-lg-6 {
        margin: 0 -2rem;
    }
    &::before {
        content: "";
        position: absolute;
        height: 120%;
        background-color: $gray200;;
        border-radius: 50%;
        top: -60%;
        left: -50%;
        right: -50%;
        @include md {
            top: -63%;
        }
        @include sm {
            top: -46%;
            left: -80%;
            right: -80%;
        }
        @include xs {
            top: -46%;
            left: -80%;
            right: -80%;
        }
    }
    @include sm {
        .row {
            flex-direction: column;
        }
        .card-under {
            right: 0;
        }
        
    }
    @include xs {
        .row {
            flex-direction: column;
        }
        .card-under {
            right: 0;
        }
        
    }
}
.z-2 {
    z-index: 2 !important;
}
.shape-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    & svg {
        transform: scale(2);
    }
}

.s-faq {
    background-color: $darkColor;
    & .circle-questions {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $pearlBlueColor;
        width: 1.3rem;
        height: 1.3rem;
        padding: 1.5rem;
        border-radius: 100%;
        & span {
            color: $whiteColor;
            font-size: 13px;
        }
    }
    & h4 {
        font-size: 19px;
        margin-bottom: 0.8rem;
        letter-spacing: -0.19px;
        @include md {
            font-size: 17xp;
        }

    }
    & p {
        font-size: 17px;
        line-height: 27.2px;
    }
    @include sm {
        .row {
            flex-direction: column;
        }
    }
    @include xs {
        .row {
            flex-direction: column;
        }
    }
    
}

.s-cta {
    background-color: $darkColor;
    @include sm {
        h1 {
            font-size: 32px !important;
        }
    }
    @include xs {
        h1 {
            font-size: 32px !important;
        }
    }
    & .badge {
        letter-spacing: 0.96px;
        color: $navTextColor;
        background-color: rgba(80,102,144,.1);
        padding: 0.7rem 1.2rem;
    }
    & h1 {
        line-height: 1.2;
        letter-spacing: -0.86px;
        font-size: 43px;
        @include md {
            font-size: 32px;
        }
    }
    & p {
        font-size: 19px;
        line-height: 30.4px;
    }
    & a {
        padding: 1.3rem 2rem;
        & i {
            font-size: 15px;
        }
        transition: box-shadow .25s ease, transform .25s ease !important;
        &:hover, &:focus {
            box-shadow: 0 1.6rem 4rem rgba(22,28,45,.1), 0 8rem 1.6rem -1.2rem rgba(22,28,45,.1)!important;
            transform: translate3d(0,-3px,0);
        }
    }
}

footer {
    @include md {
        .mx-md-33 {
            margin-left: 33.333% !important;
        }
        .f-md-wrap {
            flex-wrap: wrap;
        }
        .mb-md-48 {
            margin-bottom: 4.8rem !important;
        }
    }
    @include sm {
        .row {
            flex-wrap: wrap;
        }
    }
    @include xs {
        .row {
            flex-wrap: wrap;
        }
    }
    background-color: $gray200;
    font-size: 17px;
    ul {
        & li {
            display: inline-block;
           & img {
            height: auto;
            max-width: 2rem;
           }
        }
    }
    .footer-navbar{
        font-weight: 300;
        & h6 {
            font-weight: 400;
            color: $navTextColor;
            line-height: 1.55;
            font-size: 12px;
            line-height: 18.6px;
            letter-spacing: 0.96px;
        }
        & .footer-navbar-content {
            display: flex;
            flex-direction: column;
            font-size: 17px;
            & a {
                color: $slightBlueTextColor;
                line-height: 27.2px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.2s all ease;
    &.active{
        transform: translateY(0);
        opacity: 1;
    }
}

.reveal-2 {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1.2s all ease;
    &.active2{
        transform: translateX(0);
        opacity: 1;
    }
}
.reveal-3 {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1.2s all ease;
    &.active3{
        transform: translateX(0);
        opacity: 1;
    }
}
.transition-delay-1s {
    transition-delay: .1s !important;
}
